html {
	font-family: 'Inter', sans-serif;
	padding: 0;
}

body {
	margin: 0;
	background: #041D41;
	color: #022f5f;
}

header {
	/* background: #9DD9D2; */
	background: #041D41;
	text-align: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	padding: 3px 0;
	background: linear-gradient(180deg, rgb(79 79 79) 0%, rgba(4,29,65,0) 100%);
	transition: background .4s;
}

a {
	color: #041D41;
}

header.scrolled-header {
	background: #022f5f;
}

header .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#menu-toggle {
	display: none;
}

.site-heading {
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-style: italic;
	padding: 7px 0;
}

.site-heading a {
	display: block;
	transform: rotate(-2.5deg);
	color: #fff;
	text-decoration: none;
}

.site-heading .name {
	font-size: 28px;
    letter-spacing: .7px;
	line-height: 0.9;
}

.site-heading .description {
	font-size: 14px;
}

header nav {
	flex-grow: 3;
	text-align: right;
}

header nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav li a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 17px;
	transition: .15s ease color;
}

nav li a:hover {

}

.wrapper {
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
}

.button {
	text-decoration: none;
	opacity: 1;
	transition: .2s ease background-color;
	border-radius: 21px;
	font-size: 15px;
	text-transform: uppercase;
	/* font-weight: 600; */
	letter-spacing: 1.5px;
	/* background-color: #114B5F; */
	background: #041D41;
	border: 0;
	color: #fff;
	padding: 12px 20px;
	display: inline-block;
	text-align: center;
	min-width: 120px;
}

.button:hover {
	/* background-color: #25677d; */
}

h1 {
	color: #FF6A00;
	font-weight: 800;
	font-size: 53px;
}

h1:nth-child(2) {
	color: #fff;
}

h2 {
	font-weight: 800;
	font-size: 47px;
	text-align: center;
	margin-bottom: 30px;
}

.hero {
	/*background: #77C5BA;*/
	/* background: rgb(116, 190, 174); */
	/* background: radial-gradient(circle, rgba(116, 190, 174, 1) 0%, rgba(39, 163, 160, 1) 100%); */
	background: #0179A5;
}

.hero .wrapper {
	position: relative;
	padding: 150px 0;
}

.photo-hero {
	position: relative;
}

.photo-hero:before {
	content: '';
	position: absolute;
	z-index: 0;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	background: linear-gradient(90deg, rgba(0,0,0,0.52) 0%, rgba(4,26,57,0) 52%, rgba(4,29,65,0) 100%);
}

.photo-hero:after {
	content: '';
	position: absolute;
	z-index: 0;
	bottom: -25px;
    right: 0;
    height: 80px;
    width: 210px;
	background: #F97D3E;
}

.photo-hero .hero-content {
	position: absolute;
	bottom: 100px;
}

.photo-hero p {
	margin: 40px auto;
	font-size: 20px;
	display: block;
}

.photo-hero h1 {
	color: #fff;
	font-weight: 500;
}

.photo-hero h1 .cycling-team {
	letter-spacing: .2px;
	position: relative;
	display: inline-block;
	margin: 25px 0 0 0;
}

.photo-hero h1 .cycling-team span {
	position: relative;
	z-index: 1;
	/* transform: rotate(-3deg); */
	font-size: 40px;
}

.photo-hero h1 .cycling-team:before {
	content: '';
	display: block;
	position: absolute;
	top: -5px;
    right: -80px;
    bottom: -5px;
    left: -500px;
	background: #02B8D9;
	z-index: 0;
}

.photo-hero h1 span {
	display: block;
}

.photo-hero .title-logos {
	max-width: 260px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.photo-hero .cosdi {
	-webkit-filter: brightness(0%) invert(100%);
    filter: brightness(0%) invert(100%);
	margin-bottom: 20px;
}

.photo-hero .x {
	font-family: 'Instrument';
	font-size: 40px;
}

.photo-hero .velolaw {
	-webkit-filter: brightness(0%) invert(100%);
    filter: brightness(0%) invert(100%);
}

.hero .jersey {
	position: absolute;
	right: 0;
	bottom: -80px;
	display: block;
	max-width: 480px;
}

.hero .button-wrap {
	margin-top: 30px;
}

.photo-hero {
	background-image: url('images/zeeland/hero-bg.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	aspect-ratio: 16 / 9;
}

.photo-hero .wrapper {
	position: relative;
	height: 100%;
}

.intro {
	/* background: #0179A6; */
	padding: 30px 0 70px;
	/* color: #fff; */
	text-align: center;
	background: #F7F8FA;
    color: #041D41;
}

.intro p {
	max-width: 600px;
	margin: 0 auto;
}

.photo-hero .button-wrap {
}

.photo-hero .button {
	min-width: 140px;
}

.photo-hero .button:nth-child(2) {
	margin-left: 10px;
}

table {
	text-align: left;
	font-size: 18px;
	margin: 50px auto;
	line-height: 1.3;
}

th {
	font-weight: 800;
	padding: 10px 30px;
}

td {
	padding: 10px 30px;
}

tr {
	background: #F7F8FA;
}

tr:nth-child(2n) {
	background: #fff;
}

p {
	line-height: 1.7;
	margin: 0 auto;
	max-width: 800px
}

img {
	max-width: 100%;
}

#races {
	background: #fff;
	padding: 50px 0 0 0;
}

#races table {
	font-size: 15px;
	border-collapse: collapse;
}

#schedule p {
	text-align: center;
}

#team {
	background: #F7F8FA;
	padding: 60px 0;
}

#team p {
	text-align: center;
}

#team ul {
	margin: 50px 0 0 0;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 50px;
	margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

#team .strava-link {
	text-align: right;
}

#team .strava-link svg {
	width: 20px;
	height: 20px;
}

#team .rider {
}

#team .rider-name {
	display: block;
	margin: 7px 0 5px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

#team .rider-name h3 {
	font-size: 20px;
	margin: 0;
	font-weight: 500;
}

#team .category {
	font-style: italic;
	color: #777;
	font-size: 15px;
}

#partners {
	background: #fff;
	padding: 100px 0;
	text-align: center;
}

#partners p {
	margin-bottom: 50px;
}

#partners ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 50px;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
  	grid-gap: 30px;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

#partners ul li:first-child,
#partners ul li:nth-child(2) {
	grid-column: span 2;
}

#partners ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#partners ul li {
	display: flex;
	justify-content: center;
	align-items: center;
}

#partners ul li img {
	max-width: 100%;
}


#partners ul li.title img {
	padding: 0 20px;
}

#connect {
	padding: 60px 0;
	background: #F7F8FA;
	text-align: center;
}

#connect .instagram-embed {
	margin: 40px auto 0;
}

#connect .instagram-embed iframe {
	margin-left: auto !important;
	margin-right: auto !important;
}

footer {
	text-align: center;
	padding: 10px 0;
	background: #041D41;
	color: #fff;
	font-size: 12px;
	padding: 50px 0;
}

footer .logos {
	margin-bottom: 70px;
}

footer .logos a {
	text-decoration: none;
}

footer h3 {
	font-size: 22px;
	margin-bottom: 40px;
}

footer p {
	color: #fff;
	margin-bottom: 10px;
}

footer a {
	color: #fff;
}

footer img {
	max-width: 150px;
	height: auto;
}

footer img.cosdi {
	-webkit-filter: brightness(0%) invert(100%);
    filter: brightness(0%) invert(100%);
}

.race-map {
	height: 800px;
}

@media only screen and (max-height: 900px) {
	.race-map {
		height: 600px;
	}
}

@media only screen and (max-height: 800px) {
	.race-map {
		height: 550px;
	}
}

@media only screen and (max-height: 700px) {
	.race-map {
		height: 450px;
	}
}

@media only screen and (max-width: 1000px) {
	.photo-hero .title-logos {
		max-width: 220px;
	}

	.photo-hero h1 .cycling-team span {
		font-size: 33px;
	}

	.photo-hero h1 .cycling-team:before {
		top: -4px;
		right: -55px;
		bottom: -4px;
	}

	.photo-hero .hero-content {
		bottom: 45px;
	}

	#team ul {
		grid-gap: 40px;
	}

	#team .rider-name h3 {
		font-size: 18px;
	}
}

@media only screen and (max-width: 820px) {
	.photo-hero {
		aspect-ratio: 16 / 11;
	}

	#team ul {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 700px) {
	.photo-hero {
		background-image: url('images/zeeland/mobile-hero.jpg');
		aspect-ratio: 1 / 1;
	}
}

@media only screen and (max-width: 650px) {
	.photo-hero .button-wrap .button {
		display: block;
	}

	.photo-hero .button:nth-child(2) {
		margin-left: 0;
		margin-top: 10px;
	}
	
	.photo-hero:after {
		height: 60px;
		width: 180px;
	}

	#team ul {
		grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
	.photo-hero h1 .cycling-team:before {
		right: -30px;
	}

	.photo-hero h1 .cycling-team span {
		font-size: 25px;
		letter-spacing: 3px;
	}

	#partners ul li.title img {
		padding: 0 10px;
	}

	.photo-hero {
		aspect-ratio: 3 / 4;
	}

	.photo-hero .hero-content {
		bottom: 25px;
	}

	.photo-hero:before {
		background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(4,26,57,0) 60%, rgba(4,29,65,0) 100%);
	}

	table {
		font-size: 14px;
	}

	.photo-hero .title-logos {
		max-width: 190px;
	}

	.photo-hero h1 .cycling-team span {
		font-size: 30px;
	}

	.photo-hero .cosdi {
		margin-bottom: 15px;
	}

	.photo-hero:after {
		height: 40px;
		width: 150px;
	}

	#menu-toggle {
		display: block;
		color: #fff;
		padding: 20px 0;
		font-weight: 600;
		cursor: pointer;
		border: 0;
		padding: 0;
		background: transparent;
		font-size: 18px;
		font-family: 'Inter', sans-serif;
	}

	nav {
		display: none;
		width: 100%;
		padding: 7px 0;
	}

	nav li {
		display: block;
		width: 100%;
		font-size: 18px;
	}

	nav li a {
		color: #fff;
		width: 100%;
		display: block;
		padding: 10px 0px;
	}

	header .mobile-wrap {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	header .wrapper {
		display: block;
	}

	.menu-open {
		background: #022f5f;
	}

	.menu-open nav {
		display: block;
	}

	h1 {
		font-size: 35px;
	}
	
	h2 {
		font-size: 25px;
	}

	#races table {
		font-size: 13px;
	}
	
	th, td {
		padding: 7px 3px;
	}

	#team ul {
		grid-gap: 25px;
	}
}
}